<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../static/android-chrome-512x512.png">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
      <div class="container"><a class="navbar-brand logo" href="/">Inventory Assets</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="/pc">Computers/Laptops</a></li>
                  <li class="nav-item"><a class="nav-link" href="/printer">Printers</a></li>
                  <li class="nav-item"><a class="nav-link" href="/phones">Phones</a></li>
              </ul>
          </div>
      </div>
  </nav>
{% block content %}
{% endblock %}
<!-- Start: Footer Clean -->
<footer class="text-center py-4">
  <div class="container">
      <div class="row row-cols-1 row-cols-lg-3">
          <div class="col">
              <p class="text-muted my-2">Copyright&nbsp;© 2022 We're Lost</p>
          </div>
      </div>
  </div>
</footer><!-- End: Footer Clean -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="../static/vanilla-zoom.js"></script>
<script src="../static/theme.js"></script>
</body>

</html>